@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
* {
    font-family: Roboto, sans-serif;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    height: -webkit-fill-available;
}
div {
    color: #000;
}
.divwhite {
    color: #fff;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #daa520;
}
.leftcolumn {
    align-self: flex-start;
    width: 75%;
}
.rightcolumn {
    align-self: flex-start;
    float: right;
    width: 25%;
    padding-left: 20px;
}
.card {
    background-color: #28282b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
}
.card img {
    height: 200px;
}
.tank-description {
    text-decoration: none;
    color: #fff;
}
.motto {
    font-size: 20px;
}
.nav {
    height: 65px;
    width: 100%;
    background-color: #4d4d4d;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 10px 0 10px;
}
.nav > .nav-header {
    display: inline;
}
.home {
    text-decoration: none;
    color: #fff;
}
.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}
.nav > .nav-btn {
    display: none;
}
.nav > .nav-links {
    float: right;
    font-size: 18px;
    margin-top: 10px;
}
.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}
.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.nav > #nav-check {
    display: none;
}
@media (max-width: 620px) {
    .nav {
        height: 65px;
        width: 100%;
        position: sticky;
        top: 0;
        width: 100%;
        margin-bottom: -100px;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 15px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav #nav-check:checked ~ .nav-btn > label,
    .nav > .nav-btn > label:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
        height: 65px;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 650px);
        overflow-y: auto;
    }
    .row {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
        margin-top: 100px;
        height: 120%;
            
    }
    .leftcolumn {
        width: 100% !important;
        padding: 0 !important;
        align-self: flex-start !important;
    }
    .rightcolumn {
        width: 100% !important;
        padding: 0 !important;
        align-self: flex-end !important;
    }
    .card img {
        height: 150px !important;
    }
}
.nav-foot {
    height: 100px;
    width: 100%;
    position: relative;
    margin-top: -20px;
}
.nav-title {
    float: left;
}
.nav-img {
    float: left;
}
.move {
    margin-top: 10px;
}
.center {
    margin-left: 20px;
}